.item{ class: active }
  .row
    .col-sm-5
      .general-img-wrap
        %img.img-shadow.general-thumbnail-img{src: book.image, alt: book.title}
    .col-sm-7
      .mb-60
        %h1= book.title
        %p.lead= book.carousel_description
        %p.lead.small= book.authors_list
        .general-align
          %a.btn.btn-default{ href: catalog_book_path(book) }= t(:'home.buy_now')