.col-xs-6.col-sm-3
  .general-thumb-wrap
    .thumbnail.general-thumbnail
      %img.img-shadow.general-thumbnail-img{src: book.image, alt: book.title}
      .thumb-hover
        .general-thumb-link-wrap
          %a.thumb-hover-link{href: catalog_book_path(book)}
            %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
          %a.thumb-hover-link{href: "#"}
            %i.fa.fa-shopping-cart.thumb-icon
  .general-thumb-info
    %p.title= book.title
    %p.font-16.in-gold-500= book.price_in_euro
    %span.divider-sm
    %p.lead.small= book.authors_list