%h1.mt-res-0= book.title
%p.lead.small= book.authors_list
.row
  .col-xs-12.col-md-4
    %p.h1.in-gold-500.mt-10 €32.90
  = render 'book/add_to_cart', book: book
.general-info-wrap.divider-lg
  %p Description
  %p.lead.small.line-height-2
    Smashing Book 5: Real-Life Responsive Web Design is our brand new, upcoming book with smart front-end techniques and design patterns derived from real-life responsive projects. With 13 chapters on responsive workflow, SVG, Flexbox, Web fonts, responsive images, responsive email, content strategy, debugging ...
    %a.in-gold-500.ml-10{href: "#"} Read More
.general-info-wrap.divider-lg
  .clearfix
    %p.pull-left Year of publication
    %p.lead.small.pull-right 2016
.general-info-wrap.divider-lg
  .clearfix
    %p.pull-left Dimensions
    %p.lead.small.pull-right H:6.4\" x W: 0.9\" x D: 5.0
.general-info-wrap.divider-lg
  .clearfix
    %p.pull-left Materials
    %p.lead.small.pull-right Hardcove, glossy paper