.product-gallery
  .mb-20
    %img.img-responsive{src: image}
  -#.images.clearfix
  -#  %a.img-link{href: "#"}
  -#    %img{src: "https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg"}
  -#  %a.img-link{href: "#"}
  -#    %img{src: "https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg"}
  -#  %a.img-link{href: "#"}
  -#    %img{src: "https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg"}