.hidden-xs.hidden-sm
  .row
    .col-md-5
      %h3.general-subtitle.mt-0= t('address.billing')
    .col-md-5.col-md-offset-1
      %h3.general-subtitle.mt-0= t('address.shipping')
.row
  = render 'customers/address_form', type: 'billing'
  = render 'customers/address_form', type: 'shipping'