.general-main-wrap
  .mb-55.text-center
    %h1.mb-55 Shopping Cart Empty
    %p.mb-55
      %i.fa.fa-shopping-basket.fa-5x
    %p.mb-55
      = link_to 'Go to Shop', catalog_path, class: 'btn btn-default'
