.btn-link {
  padding: 7px 0;
}

.thumb-hover-link {
  margin-bottom: 0;
}

button .thumb-hover-link {
  margin-top: 1px;
}

.tooltip.top {
  width: 150px !important;
}

.tooltip.in {
  opacity: 0.6;
}

.tooltip-inner {
  border-radius: 6px;
}