.btn-link {
  padding: 7px 0;
}

.thumb-hover-link {
  margin-bottom: 0;
}

button .thumb-hover-link {
  margin-top: 1px;
}

.tooltip.top {
  width: 150px !important;
}

.tooltip.in {
  opacity: 0.6;
}

.tooltip-inner {
  border-radius: 6px;
}

#coupon {
  text-transform: uppercase
}

#coupon::placeholder {
  text-transform: none;
}

.lead {
  margin-bottom: 0;
}

td.not-found-orders {
  text-align: center !important;
  font-size: 1.4em;
  font-weight: bold;
}