.general-cart-item.divider-lg{ class: margin_class }
  .general-img-wrap-table
    %img.cart-img-shadow{src: item.book.image, alt: item.book.title}
    %p.title= item.book.title
    %P.in-grey-600.fw-300= item.book.very_short_description
    %table.table
      %tr
        %td
          %span.in-grey-600 Price
        %td
          %span.font-16.in-gold-500= currency(item.price)
      %tr
        %td.vertical-middle
          %span.in-grey-600 Quantity
        %td
          %span= item.quantity
      %tr
        %td
          %span.in-grey-600 SubTotal
        %td
          %span.font-16.in-gold-500 €32.90