%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Log In
    %a.general-login-icon{href: "#"}
      %i.fa.fa-facebook-official
    %p.general-login-text or
  = render 'devise/sessions/login_form'
  %p.general-sign-text.text-center
    Don’t have an Account?
    %a.in-gold-500{href: "#{ new_customer_registration_path }"} Sign Up