- flash.each do |key, value|
  - alert_class = key == 'alert' ? 'danger' : 'success'
  .alert.alert-dismissible{ class: "alert-#{alert_class}"}
    %a.close{ href: '#', 'data-dismiss' => 'alert'  } &times;
    = value